apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: llm-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      containers:
        - name: n8n
          image: n8nio/n8n:2.1.4
          command: [ "/bin/sh", "-c" ]
          args:
            - |
              # 1. Wait a moment for any internal init logic
              sleep 2; 
              
              # 2. Start the n8n process normally
              n8n start;
          ports:
            - containerPort: 5678
          env:
            - name: N8N_PORT
              value: "5678"
            - name: WEBHOOK_URL
              value: "http://localhost:32001/"
            - name: N8N_ENCRYPTION_KEY
              value: "a-very-secret-random-string"
